*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
}
select{
    height: 20vh;
}
.switch{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.inputbtn{
    display: flex;
    flex-direction: column;
}